// FONTS
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

// GLOBALS
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(
    to bottom right,
    color(darkTeal),
    color(lightTeal)
  );
  height: 100vh;
  width: 100vw;
}

img {
  width: 100%;
  object-fit: cover;
}

button {
  cursor: pointer;
  font-family: inherit;
}

input {
  font-family: inherit;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}
